[submodule "Engine/Vendor/zlib"]
	path = Engine/Vendor/zlib
	url = https://github.com/deondreE/zlib.git
[submodule "Engine/Vendor/json"]
	path = Engine/Vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "Engine/Vendor/gltf"]
	path = Engine/Vendor/gltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Engine/Vendor/cora"]
	path = Engine/Vendor/cora
	url = https://github.com/deondreE/Cora.git
